@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --nav-color: white;
    --nav-background-color: rgb(14, 13, 36);
}
* {
    margin: 0;
    padding: 0;
}
.navigation {
    background-color: var(--nav-background-color);
    padding: 30px;
}
.navigation a{
    color: var(--nav-color);
    display: inline-block;
    font-size: 2rem;
    font-weight: 100;
}
a {
    text-decoration: none;
}
.navigation a:hover {
    color: var(--nav-background-color);
    text-decoration: underline;
    background-color: white;
}
h1 {
    color: rgb(12, 8, 80);
    font-size: 2.5rem;
    text-align: center;
    padding: 1rem;
}
.footer {
    background-color: var(--nav-background-color);
}
.footer p {
    position: relative;/*updated feature12/10/2024*/
    top: 3.5rem;
    color: var(--nav-color);
    text-align: center;
    
}
/*updated feature 10,11,12/10/2024*/
header {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}
.logo {
    margin: 0 0.25rem 0 1rem;
    width: 120px;
    height: auto;
    box-shadow: 0 0 5rem rgb(0, 0, 0);
}
.navigation a {
    display: inline-block;
    padding: 20px;
}
.infor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    font-size: 1.2rem;
    border-bottom: 0.7rem solid rgb(68, 62, 172);
    padding: 30px;
}
.infor p {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 0.8rem;
    background-color: rgba(0, 0, 0, 0.02);
    margin-right: 20px;
}

.infor figure {
    border: 2px;
    margin: 2px;
}
.infor figcaption {
    background-color: rgb(14, 13, 36);
    color: white;
}
.infor img {
    box-shadow: 0 0 2rem rgb(8, 7, 36);
}
.infor p {
    display: flex;
}
.sociallinks {
    display: flex;
    justify-content: flex-end;
}
.sociallinks a {
    margin-left: 10px;
}
form {
    padding: 0;
    box-sizing: border-box;
    width: 800px;
    margin: 20px 3rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.02);
    border-radius: 0.75rem;
    background-color: #eee;
    font-size: 1.2rem;
    display: grid;
}
fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 0.75rem;
    border: 1px solid rgba(0, 0, 0, 0.02);
    padding: 1rem;
}
legend {
    font-size: 1.5rem;
    color: rgb(68, 62, 172);
    padding: 1px;
    font-weight: 600;
}
label {
    padding: 1rem;
    text-align: right;
}
input, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
button {
    margin: 0.7rem;
    background-color: rgb(14, 13, 36);
    color: #eee;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    width: 25%;
    align-items: center;
}
button:hover {
    background-color: #29e211;
}
textarea {
    width: 46%;
}
.form-items {
    display: grid;
    align-items: center;
}
.group1 {
    grid-template-columns: 3fr 1fr;
    margin: 1rem;
}
.group2 {
    grid-template-columns: 1fr 2fr;
}