@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
    --nav-color: white;
    --nav-background-color: rgb(14, 13, 36);
    --main-color: #eceef7;
}
* {
    margin: 0;
    padding: 0;
}
.navigation {
    background-color: var(--nav-background-color);
    padding: 30px;
}
.navigation a{
    color: var(--nav-color);
    display:inline-block;
    font-size: 2rem;
    font-weight: 100;
}
a {
    text-decoration: none;
}
.navigation a:hover {
    color: rgb(14, 13, 36);
    text-decoration: underline;
    background-color: white;
}
h1 {
    color: var(--nav-color);
    font-size: 3.5rem;
}
h2 {
    text-align: center;
}
section {
    font-size: medium;
    background-color: var(--main-color);
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: 20px solid rgb(14, 13, 36);/*new update 10/21/2024*/
}
.hero h1 {
    position: absolute;
    top: 5rem;
    left: 5.5rem;
    padding: 6px;
    text-align: center;
}
.hero h2 {
    position: absolute;
    top: 9rem;
    left: 9rem;
    color: white;
    font-size: 2rem;
    padding: 6px;
}
article {
    position: absolute;
    top: 25%;
    right: 2%;
    padding: 10px;
    font-size: 2rem;
    font-weight: 300;
    width: 35%;
    height: 25%;
    color: rgb(255, 255, 255);
}

.hero article img {
    float: left;
    width: 300px;
    border-bottom: #073b07;
    padding-right: 5px;
}
.hero a {
    position: absolute;
    top: 70%;
    right: 70%;
    font-size: 2rem;
    background-color: rgb(14, 13, 36);
    font-weight: 600;
    color: white;
    border-radius: 2.6rem;
    padding: 0.8rem;
}
.hero a:hover {
    background-color: white;
    color: rgb(14, 13, 36);
}
.footer {
    background-color: var(--nav-background-color);
}
.footer p {
    position: relative;/*updated feature12/10/2024*/
    top: 3.5rem;
    color: var(--nav-color);
    text-align: center;
    
}
/*updated feature 10,11,12/10/2024*/
header {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 8fr;
    align-items: center;
}
.logo {
    margin: 0 0.25rem 0 1rem;
    width: 120px;
    height: auto;
    box-shadow: 0 0 5rem rgb(0, 0, 0);
}

.navigation a {
    display: inline-block;
    padding: 20px;
}
.middle {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 3rem;
}
.middle h2 {
    grid-column: 1 / -1;
    z-index: 1;
    font-size: 2.2rem;
    color: rgb(14, 13, 36);
    font-weight: 100;
    padding: 10px;
    text-decoration: underline;
}
.middle h2, .middle p {
    text-align: center;
}
.middle p {
    grid-column: 1 / -1;
    padding: 20px;
    font-size: 1.4rem;
    font-weight: 100;
}
.middle .pic1 {
    grid-column: 1 / 2;
    width: 277px;
    margin: 20px;
    padding-left: 6rem;
}
.middle .pic2 {
    grid-column: 2 / 3;
    width: 431px;
    padding-right: 6rem;
}
.middle figure {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 2px;
}
.middle figcaption {
    color: white;
    background-color: rgb(14, 13, 36);
}
.middle img {
    box-shadow: 0 0 3rem rgb(14, 13, 36);
    padding: 1rem;
    border-radius: 0.5rem;
}
.adventure {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr auto;
    align-items: center;
    padding: 3rem;
}
.adventure h2{
    grid-column: 1 / -1;
    padding: 20px;
    font-weight: 100;
    text-align: center;
}
.adventure .image1 {
    grid-column: 1 / 2;
    width: 188px;
    padding-left: 2rem;
}
.adventure .image2 {
    grid-column: 2 / 3;
    width: 420px;
    padding-right: 5rem;
    padding-bottom:2rem
}
.adventure .image3 {
    grid-column: 3 / 4;
    width: 270px;
}
.adventure figure {
    border: 2px;
    margin: 2px;
    font-size: 1.2rem;
}
.adventure figcaption {
    background-color: rgb(14, 13, 36);
    color: white;
}
.adventure img {
    box-shadow: 0 0 3rem rgb(8, 7, 36);
    padding: 0.6rem;
}
.summry {
    background-color: #eceef7;
    display: grid;
    font-size: 1.5rem;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
}
.newsletter {
    font-size: 2rem;
    background-color: rgb(14, 13, 36);
    margin: 10px;
    margin-right: 55%;
    color: white;
    border-radius: 0.5rem;
}
form {
    box-sizing: border-box;
    width: 600px;
    padding: 20px;
    display: grid;
}
.newsletter-form {
    font-size: 1.5rem;
    padding: 2rem;
}
button {
    margin: 0.5rem;
    background-color: rgb(14, 13, 36);
    color: white;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    width: 20%;
}
button:hover {
    color: rgb(14, 13, 36);
    background-color: white;
}
.special {
    text-decoration: underline;
    font-size: 2rem;
}
.sociallinks {
    display: flex;
    justify-content: flex-end;
}
.sociallinks a {
    margin-left: 10px;
}
main {
    background-color: #eceef7;
}