@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap")

:root {
    --heading-background-color: #5efc8d;
    --nav-color: #ebe3e2;
    --main-color: #ffff;
    --text-color: #2f007e;


}
* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
nav {
    background-color: var(--nav-color);
    padding: 10px;
}
div {
    background-color: var(--main-color);
}
h1 {
    color: var(--heading-background-color);
}
article {
    color: var(--text-color);
    position: ;
}
h2 {
    color: var(--heading-background-color);
}
section {
    color: var(--text-color);
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 30px;
    left: 300px;
    background-color: rgb(136, 136, 74);
    padding: 6px;
}
article {
    position: absolute;
    top: 80px;
    left: 60px;
    right: 60px;
    background-color: rgba(184, 211, 148, 0.5);
    padding: 10px;
}

.hero article img {
    float: right;
    width: 200px;
}