:root {
    --heading-background-color: steelblue;/*nav and h1 same color always*/
    --nav-a-color: white;/*for nav-a color and aside backgrond color*/
    --main-img-width: 150px;
    --main-img-height: auto;
    --main-img-border: 1px solid steelblue;/*all main image*/
    --main-img-box-shadow: 0 0 30px gray;
    --aside-width: 20rem;
    --aside-margin: 1rem;
    --aside-border: 1px solid rgb(0, 0, 0, 0.2);
    --aside-color: #333;
    --aside-text-aline: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: var(--heading-background-color);
    padding: 1rem;
    /*Last update 10/9/2024*/
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
nav a {
    color: var(--nav-a-color);
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
}
h1 {
    color: var(--heading-background-color);
    border-bottom: 1px solid var(--heading-background-color);/*update 9/10/2024*/
}
main img {
    width: var(--main-img-width);
    height: var(--main-img-height);
    border: var(--main-img-border);
    padding: 2px;
    box-shadow: var(--main-img-box-shadow);
    float: right; /* update 1-10-2024*/
}
p {
    padding: 0;
}
aside {
width: var(--aside-width);
margin: var(--aside-margin);
border: var(--aside-border);
padding: 1rem;
background-color: var(--aside-color);
color: var(--aside-color);
text-align: var(--aside-text-aline);
position: relative;
}
aside img {
    width: 200px;
    height: var(--main-img-height);
}
/*new update 1-10-2024*/
aside h2 {
    position: absolute;
    top: 40px;
    left: 6rem;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/*Class Selectors*/
.box {
    margin: var(--aside-margin);
    border: var(--aside-border);
    padding: 1rem;
    background-color: rgba(236, 228, 228, 0.966);
    color: var(--aside-color);
}
/*update feature 10/9/2024*/
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
.grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
}
main {
    grid-column: 2 / 3;
    margin: 1rem;
}
aside {
    grid-column: 1/2;
    grid-row: 1/2;
}