:root {
    --heading-background-color: steelblue;/*nav and h1 same color always*/
    --nav-a-color: white;/*for nav-a color and aside backgrond color*/
    --main-img-width: 150px;
    --main-img-height: auto;
    --main-img-border: 1px solid steelblue;/*all main image*/
    --main-img-box-shadow: 0 0 30px gray;
    --aside-width: 20rem;
    --aside-margin: 1rem;
    --aside-border: 1px solid rgb(0, 0, 0, 0.2);
    --aside-color: #333;
    --aside-text-aline: center;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: var(--heading-background-color);
    padding: 10px;
}
nav a {
    color: var(--nav-a-color);
    display: block;
    padding: 20px;
}
h1 {
    color: var(--heading-background-color);
}
main img {
    width: var(--main-img-width);
    height: var(--main-img-height);
    border: var(--main-img-border);
    padding: 2px;
    box-shadow: var(--main-img-box-shadow);
    float: right; /* last update 1-10-2024*/
}
p {
    padding: 0;
}
main {
    max-width: 840px;
}
aside {
width: var(--aside-width);
margin: var(--aside-margin);
border: var(--aside-border);
padding: 1rem;
background-color: var(--nav-a-color);
color: var(--aside-color);
text-align: var(--aside-text-aline);
}
aside img {
    width: 200px;
    height: var(--main-img-height);
}
/*new update 1-10-2024*/
aside h2 {
    position: relative;
    top: 40px;
    left: 10px;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
/* Class Selectors*/
.box {
    margin: var(--aside-margin);
    border: var(--aside-border);
    padding: 1rem;
    background-color: var(--nav-a-color);
    color: var(--aside-color);
}